body {
  margin: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  height: 100px;
  display: flex;
  margin-bottom: 20px;
}

#trybewarts-header-title {
  margin-left: 30px;
  margin-top: 30px;
  font-family: OCR A Std, monospace;
}

.trybewarts-login {
  padding: 2px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.button-submit {
  border-radius: 4px;
  color: black;
  padding: 10px 20px;
  margin-left: 65%;
}

.input-login {
  margin: 2px;
}

.nome-sobrenome {
  margin-bottom: 10px;
  font-family: OCR A Std, monospace;
}

#input-name {
  margin-right: 10px;
}

#input-email {
  margin-right: 10px;
}

#inputemail {
  font-family: OCR A Std, monospace;
}

select {
  font-family: OCR A Std, monospace;
  padding: 2px;
}

.main-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  width: 700px;
  display: flex;
  flex-direction: column;

}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

.input-radios {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 50%;
}

#label-family {
  font-family: OCR A Std, monospace;
  margin-bottom: 10px;
}

#label-content {
  margin-bottom: 15px;
  font-family: OCR A Std, monospace;

}

.subject {
  width: 60%;
  margin: 2.5px;
}

#label-rate {
  font-family: OCR A Std, monospace;
}

.input-checkboxs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label-conteudo {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.container-conteudo {
  display: flex;
}

.input-subject {
  display: flex;
  flex-direction: column;
}

.input-radio-buttons {
  margin-top: 20px;
}

.text-area {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: OCR A Std, monospace;
  width: 675px;
}

#label-infos {
  font-family: OCR A Std, monospace;
}

#submit-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  padding: 10px;
  width: 10%;
}

footer {
  margin-left: 30px;
  margin-bottom: 50px;
  font-family: FreeMono, monospace;
}
